{%extends 'all-photos/base.html'%}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Potta+One&display=swap" rel="stylesheet">
 {% block content %}

 <h1 style="color:black;font-size: 3.2cm;text-align: center;background-image: url(/media/articles/aaaa.jpeg);background-size: cover;">WELCOME TO KEN'S PHOTO-GALLERY</h1>
 <p>Photos for your soul...</p>

<style>
    body{
            background-image: url(/media/articles/aaaa.jpeg);
            font-family: 'Dancing Script', cursive;
            font-family: 'Potta One', cursive;
    }

    h1{
        padding-top: 2cm;
        font-family: 'Dancing Script', cursive;
        font-family: 'Potta One', cursive;   }
    p{
        text-align: center;
        font-size: 1cm;
    }
</style>
 {% endblock %}